<h1>会員情報編集</h1>

<%= form_with model:@customer, url: customer_path, local:true do |f| %>

  <p>氏名</p>
  <p><%= f.text_field :last_name %></p><p><%= f.text_field :first_name %></p>
  <p>カナ</p>
  <p><%= f.text_field :last_name_kana %></p><p><%= f.text_field :first_name_kana %></p>
  <p>郵便番号</p>
  <p><%= f.text_field :postal_code %></p>
  <p>住所</p>
  <p><%= f.text_field :address %></p>
  <p>電話番号</p>
  <p><%= f.text_field :telephone_number %></p>
  <p>メールアドレス</p>
  <p><%= f.text_field :email %></p>

  <%= f.submit '投稿' %>
  <% end %>

  <p>
    <%= link_to "退会する", customers_unsubscribe_path(@customer.id) %>
</p>

