<h1>商品詳細</h1>

<%= form_with model:@item, url: admin_item_path, local:true do |f| %>

  <p>商品画像</p>
  <p><%= f.attachment_field :image %></p>
  <p>商品名</p>
  <p><%= f.text_field :name %></p>
  <p>商品説明</p>
  <p><%= f.text_field :introduction %></p>
  <p>税抜価格</p>
  <p><%= f.text_field :price %></p>

  <%= f.submit '投稿' %>
  <% end %>