<h1>ショッピングカート</h1>


<p> <%= link_to "買い物をつづける", root_path %></p>
<P><%= link_to "カートを空にする", cart_items_path, method: :delete %>
</P>

<% @total = 0 %>

  <table>
    <tr>
      <th>商品名</th>
      <th>単価</th>
      <th>数量</th>
      <th></th>
      <th>小計</th>
      <th></th>
    </tr>
    <% @cart_items.each do |cart_item| %>
    <tr>
     <th><%= cart_item.item.name %></th>
     <th><%= cart_item.item.with_tax_price %></th>
　    <th><%= cart_item.amount %></th>
　    <th>
　    <%= form_with model:cart_item, url: cart_item_path(cart_item.id), local:true do |f| %>
　    <%= f.select :amount, *[1..10] %>
　    <%= f.hidden_field :item_id, :value => cart_item.item.id%>
　    <%= f.submit '変更' %>
      <% end %>
　    </th>

　    <th>
　    <% a = cart_item.amount %>
       <% b = cart_item.item.with_tax_price %>
        <% @sum =  a*b %>
        <% @total = @sum + @total %>
        <%= @sum %>
      </th>
      <th><%= link_to "削除する", cart_item_path(cart_item.id), method: :delete %>
      </th>
　    </tr>

    <% end %>

  </table>

<%= @total %>
<% @billing = @total+800 %>

<% if @total <=1  %>
$
<% else %>
<%= form_with model:@order, url: orders_path, local:true do |f| %>
<%= f.hidden_field :billing_amount, :value =>@billing %>
 <%= f.submit '情報入力へ進む' %>
      <% end %>
<% end %>